<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!--TODO - sorting functinality from source page https://github.com/callmenick/Backbone-Users-Directory disabled for now-->
<main class="main">
    <div class="container">

        <div id="planets">

            <table id="planets-table">
                <thead>
                <tr>
                    <th>pl_name</th>
                    <th>pl_rade</th>
                    <th>pl_bmasse</th>
                    <th>pl_disc</th>
                    <th>rowupdate</th>
                    <th>gravity</th>
                </tr>
                </thead>
                <tbody id="earth_sized_exoplanets"></tbody>
            </table>
        </div>
    </div>
</main>

<!-- TEMPLATES -->
<script type="text/template" id="planet-template">
    <td><%= pl_name %></td>
    <td><%= pl_rade %></td>
    <td><%= pl_bmasse %></td>
    <td><%= pl_disc %></td>
    <td><%= rowupdate %></td>
    <td><%= gravity %></td>
</script>
    ...
    <!--<script src="../node_modules/backbone/node_modules/underscore/underscore.js"></script>-->
    <!--<script src="../node_modules/backbone/backbone.js"></script>-->
    <!--<script src="../node_modules/jquery/src/jquery.js"></script>-->
<script src="bundle.js"></script>
<!--<script src="app.js"></script>-->

    </body>
</html>